<md-card md-theme="{{ 'default' }}">

	<div layout="row">

		<div flex layout-margin>

			<!-- Page description -->
			<h2>{{ f1Champions.seasonStart }} - {{ f1Champions.seasonEnd }}</h2>

			<p>An interactive listing of all of the Formula1 races winners from {{ f1Champions.seasonStart }} to {{ f1Champions.seasonEnd }}.</p>

		</div>

	</div>

</md-card>

<md-card md-theme="{{ 'default' }}">

	<div layout="row">

		<div layout="column" flex layout-margin>

			<!-- Progress bar -->
			<md-progress-linear md-mode="indeterminate" class="loader top" ng-show="loading"></md-progress-linear>

			<!-- Season listing table -->
			<table>
				<thead>
					<tr>
						<th>Season</th>
						<th>Winner</th>
					</tr>
				</thead>
				<tbody>
					<!-- Click through to season rounds listing -->
					<tr ng-click="viewSeason(season.season)" ng-repeat="season in f1Champions.seasons">
						<td>{{ season.season }}</td>
						<td>
							<span class="img champion" style="background-image: url({{ season.champion.image }})">{{ season.champion.name }}</span>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- Progress bar -->
			<md-progress-linear md-mode="indeterminate" class="loader bottom" ng-show="loading"></md-progress-linear>

			<!-- Status message -->
			<p class="md-caption text-right" ng-show="status == 'error' || status == 'success'">
				<span ng-if="status == 'error'"><i class="material-icons error">error</i> Error loading data, please try again later.</span>
				<span ng-if="status == 'success'"><i class="material-icons success">done</i> Data loaded successfully</span>
			</p>

		</div>

	</div>

</md-card>