<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>

	<div layout="row">

		<div flex layout-margin>

			<h2>{{ seasonStart }} - {{ seasonEnd }}</h2>

			<p>An interactive listing of all of the Formula1 races winners from {{ seasonStart }} to {{ seasonEnd }}</p>

		</div>

	</div>

</md-card>

<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>

	<div layout="row">

		<div layout="column" flex layout-margin>

			<table>
				<thead>
					<tr>
						<th>Season</th>
						<th>Winner</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-click="viewSeason(season.season)" ng-repeat="season in seasons | filter:{season: ''}">
						<td>{{ season.season }}</td>
						<td>{{ season.champion }}</td>
					</tr>
				</tbody>
			</table>

			<md-progress-linear md-mode="indeterminate" class="loader" ng-show="loading"></md-progress-linear>

		</div>

	</div>

</md-card>